<!-- <ul>
<li><%= link_to 'sales_cycles', sales_cycles_path %></li>
<li><%= link_to 'items', items_path %></li>
<li><%= link_to 'item_categories', item_categories_path %></li>
<li><%= link_to 'inventory_items', inventory_items_path %></li>
<li><%= link_to 'orders', orders_path %></li>
<li><%= link_to 'order_categories', order_categories_path %></li>
</ul> -->
<%= react_component('App') %>